* { box-sizing: border-box; }
body {
	font: normal 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

/*** LEFT SIDE: CALENDAR ***/
#calendar {
	float: left;
	overflow: hidden;
	text-align: center;
	width: 77vw;
}
#calendar ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#calendar li {
	float: left;
}
/* calendar header */
#cal-header {
	height: 7.5vh;
	overflow: hidden;
	position: relative;
}
.cal-header-month {
	line-height: 8vh;
	margin: 0;
}
[data-action] {
	line-height: 8vh;
	position: absolute;
	text-decoration: none;
	top: 0;
}
[data-action='prev'] {
	left: 20px;
}
[data-action='next'] {
	right: 20px;
}
/* calendar week grid */
#cal-week {
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	font-size: 11px;
	height: 2.5vh;
	line-height: 2.5vh;
	text-align: center;
}
.cal-week-day {
	border-left: solid 1px #999;
	width: 11vw;
}
/* calendar date grid */
[data-cal-date] {
	border-left: solid 1px #333;
	border-bottom: solid 1px #333;
	height: 10vh;
	margin: 0;
	padding: 2px 5px;
	text-align: right;
	width: 11vw;
}
[data-cal-date].first-month {
	background-color: #FDD;
}
[data-cal-date].next-month {
	background-color: #FFD;
}
[data-cal-date] .plans {
	font-size: 11px;
	padding: 10px 5px;
	text-align: left;
}
/*** RIGHT SIDE: SIDEBAR ***/
#sidebar {
	border-left: 1px solid #300;
	float: left;
	height: 100vh;
	width: 23vw;
}
#sidebar-date {
	height: 8vh;
	line-height: 8vh;
	margin: 0;
}
#sidebar-plans {
	margin-top: 0;
}